/* This is the css file for Sean's Google Clone */
/*--------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------------------------------------------------------*/
/* My css begins from here. */
/*--------------------------------------------------------------*/
html, body {
	height: 100%;
  	margin:  0px;	
  	padding: 0px;
  	border:  0px;
}

.container {
	position:	relative;
	width: 		100%;		
	min-height: 100%;
	min-width: 	1120px; 
}

nav{
	width: 100%;			height: 30px;				
	margin-bottom: 20px; 	padding: 15px 0;
}
	nav ul{
		float:		right;
		margin: 	0 15px;
		list-style:	none;
	}
		nav li{
			display: 	inline-block;
			margin: 	0 8px;
			vertical-align: bottom ;
		}
		nav li:child(4), li:child{
			float: right;
			margin: 0 0 0 5px;
		}
			nav li a{
				font: 13px/24px arial, sans-serif;
				text-decoration: none;
				color: #000;
				opacity: .85;
			}
			nav li a:hover{	
				text-decoration: underline;
				opacity: 1;
			}
			.dropdown-options{
				width: 30px;	height: 30px; 
				background: url("https://ssl.gstatic.com/gb/images/v1_53a1fa6a.png");
				background-position: -431px -242px;
				opacity: 0.55;
			}
			.dropdown-options:hover{
				cursor: default;
				opacity: 1;
			}
			#sign-in{
				padding: 6px 12px;
				border: 1px solid rgb(66, 133, 244);
				border-radius: 1px;
				
				font: bold 13px/24px arial, serif;
				color: #fff;
				text-decoration: none;
				cursor: default;
				opacity: 0.95;
				background-color: #4387FD;
				background:	 -webkit-linear-gradient(center top , rgb(67, 135, 253), rgb(70, 131, 234)) repeat scroll 0% 0% transparent;
				background: 	-moz-linear-gradient(center top , rgb(67, 135, 253), rgb(70, 131, 234))	repeat scroll 0% 0% transparent;
				background: 	 -ms-linear-gradient(center top , rgb(67, 135, 253), rgb(70, 131, 234)) repeat scroll 0% 0% transparent;
				background:			 linear-gradient(center top , rgb(67, 135, 253), rgb(70, 131, 234)) repeat scroll 0% 0% transparent;
			}
			#sign-in:active {
				opacity: 1;
				border: 1px solid rgb(66, 133, 244);
				box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15) inset;
				background:	 -webkit-linear-gradient(center top , rgb(60, 122, 228), rgb(63, 118, 211)) repeat scroll 0% 0% transparent;
				background: 	-moz-linear-gradient(center top , rgb(60, 122, 228), rgb(63, 118, 211)) repeat scroll 0% 0% transparent;
				background: 	 -ms-linear-gradient(center top , rgb(60, 122, 228), rgb(63, 118, 211)) repeat scroll 0% 0% transparent;
				background:			 linear-gradient(center top , rgb(60, 122, 228), rgb(63, 118, 211)) repeat scroll 0% 0% transparent;
			}	
.logo {
	margin: 0 auto;
	width: 578px;
}

form{
	position: relative;
	width:578px; 				height: 200px;
	margin: 0 auto;
}
	.textbox{
		width: 570px; 			height: 30px;
		margin: 5px auto; 		padding: 0 5px;
		font: 13px/24px arial, sans-serif;
		opacity: 0.75;
		border: 1px solid #bbb;
	}
	.textbox:hover{
		opacity: 1;
	}
	.textbox:focus{
		outline: none;
		border: 1px solid #0028F1;
	}
	.wrapper{
		text-align: center;
		margin: 0 auto;
	}
	.button{
		position: relative;
		display: inline;
		margin: 10px 5px; 		padding: 8px;
		border: 1px solid #CCC;
		border-radius:2px;
		
		font: bold 11px arial,sans-serif;
		color: #ff;
		background-color: #eee;
		opacity: 0.85;
	}
	.button:hover{
		box-shadow: 0px 1px 1px -1px #303030;
		border: 1px solid #C0C0C0;
		opacity: 1;
	}

footer{
	position: absolute;
	width: 100%;				height: 40px; 
	bottom: 0;
	box-sizing: border-box;
	border-top: 1px solid #ccc;
	background-color: #f0f0f0;
	opacity: 0.75;
}
	footer ul{
		height: 40px;
		margin: 0 15px;
		list-style:none;		
	}
	footer ul .float-right{
		float: right;
	}
	footer li{
		display: inline-block;
		padding: 12px 15px;
	}
		footer li a{
			font: 13px/13px arial,sans-serif;
			color: #000;
			text-decoration: none;
		}
		footer li a:hover{
			text-decoration: underline;
		}
		footer li span{
			color: #AC0712;
		}
